@{
    ViewData["Login"] = "Login Page";
}

<form action="/auth/validate">
  <label for="emailid">Emailid:</label><br>
  <input type="text" id="emailid" name="emailid" placeholder="abc@xyz.com"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" placeholder="i am not looking"><br><br>
  <input type="submit" value="Submit">
</form> 